@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{box-sizing: border-box;}*{box-sizing: inherit;}
@media all {

    /* Normalize CSS */
    body {
        margin: 0;
    }

    body {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        background-color: ghostwhite;
    }

    /* General Page Formatting*/
    header,
    footer {
        padding: 5px;
        text-align: center;
        color: black;
        background-color: #87CEFA;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    header {
        margin-bottom: 35px;
    }

    main {
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
        gap: 15px;
    }

    main div:first-child,
    main div:last-child {
        width: 30%;
    }

    main div:nth-child(2) {
        width: 60%;
    }

    main div {
        text-align: center;
        border: 1px solid lightgray;
    }

    main div div {
        border: 0px;
    }

    main table {
        margin: auto;
        border: 1px solid lightgray;
    }

    main table td, th {
        margin: auto;
        border: 1px solid lightgray;
    }

    main table td {
        text-align: center;
        min-width: 110px;
    }

    .fa-solid {
        color: black;
    }

    .fa-check {
        color: green;
    }

    .fa-xmark {
        color: red;
    }

    .fa-face-frown {
        color: red;
    }

    .icon-btn {
        background-color: ghostwhite;
        border: 0px;
    }

    .inline {
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    input,
    select {
        width: 80%;
        margin-bottom: 20px;
        border-radius: 5px;
        border-width: 1px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        background-color: white;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    input[type="submit"]:hover,
    input[type="reset"]:hover {
        background-color: ghostwhite;
    }

    input[type="submit"]:active,
    input[type="reset"]:active {
        background-color: ghostwhite;
        box-shadow: 0;
        transform: translateY(1px);
    }

    input[type=checkbox] {
        transform: scale(1.5);
        box-shadow: 0px 0px rgb(149, 150, 149); 
        width: 30px;
    }

    #message {
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: #87CEFA;
        text-align: center;
        font-weight: bold;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        border-radius: 15px;
    }

    #message.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
        animation: fadein 0.5s, fadeout 0.5s 4.5s;
    }

    /*Animations to fade the snackbar in and out*/
    @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
    }

    @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
    }

    @-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }

    @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }
}